# KiCad
*-backups/
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.lck
fp-info-cache
~*.lck

# KiCad autosave
_autosave-*

# KiCad project local settings
*.kicad_prl

# Generated/output files
*.net
*.xml
gerbers/
production/
*.gbr
*.gbl
*.gbs
*.gbo
*.gtl
*.gts
*.gto
*.gtp
*.gbp
*.drl
*.xnc

# Firmware (Microchip/Atmel Studio, MPLAB X)
.vs/
[Dd]ebug/
[Rr]elease/
*.atsuo
.generated_files/
nbproject/private/
!MiniscopeZero/Firmware/**/nbproject/project.xml
!MiniscopeZero/Firmware/**/nbproject/configurations.xml
!MiniscopeZero/Firmware/**/*.componentinfo.xml
!MiniscopeZero/Firmware/**/DoxygenLayout.xml

# OS
.DS_Store
Thumbs.db

user_data/
